# Model building

In [7]:
import sys

sys.path.append('..')

In [8]:
import pandas as pd
from house_prices.train import build_model

training_data_df = pd.read_csv('../data/train.csv')
model_performance_dict = build_model(training_data_df)
print(model_performance_dict)

({'model performance before tuning': {'R2': 0.91, 'rmse': 25792.78, 'rmsle': 0.15}}, {'model performance after tuning': {'R2': 0.91, 'rmse': 25869.19, 'rmsle': 0.14}})

# Model inference

In [9]:
import pandas as pd
from house_prices.inference import make_predictions

user_data_df = pd.read_csv('../data/test.csv')
predictions = make_predictions(user_data_df)
predictions

Submission file created successfully.

        Id      SalePrice
0     1461  127493.679688
1     1462  149294.750000
2     1463  179976.500000
3     1464  185986.828125
4     1465  200014.000000
...    ...            ...
1454  2915   83537.453125
1455  2916   87196.476562
1456  2917  172977.578125
1457  2918  121270.804688
1458  2919  218560.250000

[1459 rows x 2 columns]